@charset "UTF-8";

* {
    margin: 0PX;
    padding: 0PX;
    font-family: Arial, Helvetica, sans-serif;
}

HTML, body {
    height: 100VH;
    width: 100Vw;
    background-color: black;
}
body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    

}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    background: url(../imagens/frame-iphone-141.png) no-repeat;
    
    
}
iframe#tela {
    position: relative;
    top: 14px;
    left: 17px;
    width: 277px;
    height: 599px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 18px 20px 20px 7px rgba(0, 0, 0, 0.501);

}
section#links {
    display: grid;
    text-align: right;
    
    
    
}
section#links > a > img{
    width: 50px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 5px;
}
section#links > a > img:hover {
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    border: 1px solid white;
    margin: 7px;
    transition: 0.5s;
    width: 55px;
}